<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: page(~{::content})}">
<head>
    <title>Редактировать книгу</title>
</head>
<body>
    <section th:fragment="content">
        <h1>Редактировать книгу</h1>

        <form th:action="@{/books/{id}(id=${book.id})}" method="post" th:method="put">
            <div>
                <label for="title">Название</label>
                <input type="text" name="title" th:value="${book.title}"/>
            </div>
            <div>
                <label for="author">Автор</label>
                <select name="authorId" th:value="${book.author.id}">
                    <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
                </select>
            </div>
            <div>
                <label for="genreIds">Жанры</label>
                <select name="genreIds" multiple="true">
                    <option th:each="genre : ${genres}" 
                            th:value="${genre.id}" 
                            th:text="${genre.name}"
                            th:selected="${book.containsGenreById(genre.id)}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Сохранить</button>
        </form>

    </section>
</body>
</html>