<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: page(~{::content})}">
<head>
    <title>Добавить комментарий</title>
</head>
<body>
    <section th:fragment="content">
        <h1>Добавить комментарий</h1>

        <form th:action="@{/books/{bookId}/comments(bookId=${book.id})}" method="post">
            <div>
                <label for="text">Текст</label>
                <input type="text" name="text"/>
            </div>
            <div>
                <label for="text">Книга</label>
                <input type="text" name="book" th:value="${book.title}" class="form-control" disabled="true"/>
            </div>            
            <button type="submit" class="btn btn-danger">Сохранить</button>
        </form>

    </section>
</body>
</html>