<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: page(~{::content})}">
<head>
    <title></title>
</head>
<body>
    <section th:fragment="content">
        <h1 th:text="'Комментарий ' + ${comment.id}"></h1>

        <div>
            <p>
                Текст:
                <span th:text="${comment.text}"></span>
            </p>
            <p>
                Книга:
                <span th:text="${comment.book.title}"></span>
            </p>
        </div>
    </section>
</body>
</html>